html {
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  align-items: center;
  text-align: center;
  /*display: flex;*/
  background-color: white;
  padding: 15px 0;
  padding-bottom: 0;
  color: #8B5E3B;
  ;
}

#header-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#header-top h1 {
  width: 100%;
  margin-left: 155.6px;
}

nav ul {
  background-color: #b4967f;
  border-style: none ;
  list-style: none;
  justify-content: center;
  text-align: center;
  display: flex;
  padding: 15px;
  margin: 0;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
}

.search-bar {
  padding: 15px;
  display: flex;
  justify-content:right;
}

.search-bar input {
  padding: 5px;
  border-style:solid;
  border-color: #b4967f;
  border-radius: 20px;
}

.banner {
  background-image: url(https://github.com/EsCodPilares/Imagenes_Proyecto_DW/assets/159093155/cd26affd-c4f2-4a6d-bb6e-0b079972f5ac);
  text-align: center;
  color: white;
  padding: 50px;
  font-size: 18px;
  margin: 0;
}


h3 {
  color: darkred;
  margin-left: 20px;
}

.libros-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.libro {
  text-align: center;
  background: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  width: 200px;
}

.libro img {
  max-width: 100%;
  border-radius: 5px;
}

.libro span {
  color: #B69A76;
  font-weight: bold;
}


button {
  background-color: darkred;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

/* Sección Conócenos */
.conocenos {
  background-color: #fff;
  padding: 50px 0;
  margin: 20px;
  text-align: left;
  width: calc(100% - 32px);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  gap: 32px;
}

.conocenos-texto, .conocenos-imagen {
  width: 50%;
}

/*.conocenos-imagen {
  flex: 1;
  justify-content: right;
}*/

.conocenos img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  justify-content: right;
}
.conocenos p {
  font-size: 0.9rem;
  line-height: 1.6;
  margin-bottom: 15px;
  margin-left: 20px;
}

.conocenos strong {
  display: block;
  color: #8B0000;
  font-size: 20px;
  text-align: center;
}

footer {
  background-color: #8B5E3B;
  color: white;
  padding: 0.5rem;
  margin-top: 20px;
  justify-content: space-between;
  text-align: left;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.footer-info div{
  width: 33%;
}

.footer-info h4 {
  margin-bottom: 10px;
}

footer .footer-info .social-icons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  gap: 0.2rem;
}

footer > p {
  margin-top: 2rem;
  text-align: center;
}